<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.domain.tripdetail.mapper.TripFileMapper">

    <!-- 파일 삽입 -->
    <insert id="insertTripFile" parameterType="com.example.domain.TripFile" useGeneratedKeys="true" keyProperty="fileId">
        INSERT INTO trip_files (trip_id, file_name, file_path, content_type, file_type)
        VALUES (#{tripId}, #{fileName}, #{filePath}, #{contentType}, #{fileType})
    </insert>


</mapper>
