<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.domain.tripdetail.mapper.TripAttractionMapper">

    <insert id="insertTripAttraction" parameterType="com.example.domain.TripAttraction" useGeneratedKeys="true">
        INSERT INTO trips_attractions (trip_id, attraction_id, created_at)
        VALUES (#{tripId}, #{attractionId}, NOW());
    </insert>

</mapper>